/************************TAG SELECTOR*******************/
body {
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

img{
  width: 37%;
  object-fit: cover;

}

/* All Headings */
.big-heading{
  font-size: 3.5rem;
}

.section-heading{
  font-size: 3rem;
}

.cta-heading{
  font-size: 3.5rem;
}

/* contauner-fluid for all sections */
.container-fluid {
  padding: 3% 15% 5%;
}

/* Navigation Bar Selector */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Title section */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.download-btn {
  margin: 5% 3% 5% 0;
  font-family: 'Ubuntu', sans-serif;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/* Feature Section */
#features {
  text-align: center;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

#features i {
  color: #ef8172;
  padding: 4.5rem 2.5rem 1.5rem;
}

#features i:hover {
  color: #ff4c68;
}

#features p {
  color: #8f8f8f;
  font-size: 1rem;
}

.feature-title{
  font-size: 1.5rem;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text{
  font-size: 3rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 25px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  padding-bottom: 5%;
  text-align: center;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  padding: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
  padding: 100px;
  text-align: center;
}

#pricing p{
  color: #8f8f8f;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.pricing-column{
  padding: 3% 2%;
}

.pricing-text{
  font-size: 3rem;
}

/* Mobile Friendly Website using Media Query */
@media (max-width: 1028px){
  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }
}

/* Call to Action */
#cta{
  background-color: #ff4c68;
  padding: 5% 5%;
  text-align: center;
  color: #fff;
}

/* Footer */
/* #footer{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#footer i {
  padding: 8rem 1rem 2.5rem;
}

#footer i:hover{
}

#footer p{
  color: #8f8f8f;
  font-size: 1rem;
} */

/* external footer */


.social-footer {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: #fff;
  /* display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; */
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons {
  margin-right: 0;
  margin-top: 7%;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  /* border-radius: 100%; */
  padding: 0.5rem 1.5rem;
}
.social-footer  p{
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2%;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}
